select {
    &.form-control {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
        background-position-x: 100%;
        background-position-y: center;
        background-repeat: no-repeat;
        padding-right: 25px;

        &:focus {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-up'%3E%3Cpolyline points='18 15 12 9 6 15'%3E%3C/polyline%3E%3C/svg%3E");
        }
    }
}

.img-thumbnail-wrp {
    position: relative;
    display: inline-block;

    .clear-image {
        position: absolute;
        right: 10px;
        top: 2px;
        font-size: 24px;
    }
}

.file-thumbnail-wrp {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0.25rem 0.5rem;
    background-color: #f5f7fb;
    border: 1px solid #dee2e6;
    border-radius: 0.2rem;
    max-width: 100%;
    height: auto;
    line-height: 1;

    .clear-image {
        position: relative;
        font-size: 24px;
        margin-left: 20px;
        line-height: 1;
    }
}


.location-group {
    .map {
        height: 400px;
        border: 1px solid #ced4da;
    }
}


.choices[data-type*=select-one] {

    .choices {
        &__inner {
            min-height: 33px;
            padding: 0.3rem 25px 0.3rem 0.85rem;
            background: #fff;
            font-size: 0.875rem;
            font-weight: 400;
            border-radius: 0.2rem;
        }
    }

    &:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
        background-position-x: 100%;
        background-position-y: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        border: 0 none;
        right: 1px;
        margin-top: -10px;

    }

    &.is-open {
        &:after {
            margin-top: -10px;
            transform: rotate(180deg);
        }
    }
}

.choices__list--single {
    padding: 0px 16px 0px 0px;
}

.select2-container {
    z-index: 10000;
}


.multilingual {
    .input-group-prepend {
        .input-group-text {
            width: 50px;
            text-align: center;
        }
    }
}
