/node_modules
/public/css
/public/js
/public/fonts
/public/hot
/public/storage
/public/mix-manifest.json
/public/robots.txt
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.php_cs
/.php_cs.cache
/.phpstorm.meta.php
/.php-cs-fixer.cache
/_ide_helper.php
/_ide_helper_models.php
/deploy.sh
