/*#############*/
/* TRANSITIONS */
/*#############*/
a,
label i,
input,
textarea,
input::placeholder,
textarea::placeholder,
#header-layer-close,
header,
.header-search button path,
.dropdown:after,
.dropdown-toggle,
nav,
.dropdown-btn,
.log-in,
.exchange > span,
.lang > span,
#menu-btn:before,
#menu-btn:after,
#menu-btn span,
.datepicker-toggle,
.datepicker-input,
.datepicker-input:after,
.datepicker-placeholder,
.download .text-md,
.add-file span,
.number-input button:before,
.number-input button:after,
.checkbox span,
.checkbox span:before,
.checkbox span:after,
.radio span,
.radio span:before,
.radio span:after,
.social-block li a:before,
.btn path,
.btn.arrow-right:after,
.btn-close:before,
.btn-close span:before,
.btn-close span:after,
.btn-read-more,
.btn-read-more.left-arrow:before,
.btn-read-more:after,
.show-more,
.show-more-btn,
.btn-fb path,
.btn-google path,
.btn-to-top,
.btn-to-top:before,
.btn-to-top:after,
.btn-delete:before,
.btn-delete:after,
.gift-certificate .bg,
.select-icon,
.thumb-img img,
.thumb:before,
.thumb-desc,
.thumb-content,
.social a:before,
.social a path,
.social a square,
.social a line,
.social a circle,
.social a polygon,
.like,
.like path,
.expand-all,
.text.open-popup,
.text-sm.open-popup,
.text-md.open-popup,
.show-more:before,
.show-more-btn:before,
.show-more:after,
.show-more-btn:after,
.expand-all:before,
.expand-all:after,
.tab-title:after,
.tab-toggle,
.tab-caption,
.tab-caption:before,
.tab-caption path,
.tab-caption rect,
.tab-caption span,
.order-page .tab-caption:after,
.open-popup-link,
.zoom img,
.calc-row .input-number label:after,
.swiper-button-next i,
.swiper-button-prev i,
.swiper-button-next i:before,
.swiper-button-prev i:before,
.swiper-button-prev:before,
.swiper-button-next:before,
.swiper-pagination-bullet,
.swiper-pagination-bullet:after,
.banner-carousel .swiper-slide .full-size > div:first-child .h1 a:after,
.accordion-title,
.accordion-title i:before,
.accordion-title i:after,
.accordion-inner .review-title .text:not(.text-sm),
.review.testimonial .review-title .text:not(.text-sm),
.pagination .text:after,
.apartment-option .text,
.delete-account,
#search-dropdown,
#tour-selection-dropdown,
.share .icon,
.right-sidebar .add-to-like .icon,
.right-sidebar .add-to-like .icon svg,
.cabinet-page .accordion-title .h4,
.SumoSelect > .CaptionCont > span,
.SumoSelect > .CaptionCont:after,
.SumoSelect > .optWrapper,
.SumoSelect > .optWrapper > .options li.opt label,
.SumoSelect > .CaptionCont,
.SumoSelect .select-all > label,
.datepicker--nav-action path,
.datepicker--nav-title,
.datepicker--cell,
.ui-menu-item-wrapper span,
.ui-menu-item-all,
.fc-right:after,
.fc-right button,
.fc-icon,
.fc-today-button,
.fc-event:before,
.fc-event:after,
.fc-event .fc-content:after,
.participant .h4:after,
.add-note-btn .text-bold,
#voice-search-btn svg,
.search-toggle .text,
.search-toggle-footer .text {
    transition: all .44s ease-in-out;
}


.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s linear;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}
