@media print {
    *, *:before, *:after, *:first-letter, p:first-line, div:first-line, blockquote:first-line, li:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    header.scrolled {
        box-shadow: none;
        position: relative !important;
    }

    .hidden-print {
        display: none !important;
    }

    .only-print {
        display: unset !important;
    }

    .accordion-title {
        page-break-before: auto;
    }

    .accordion-inner {
        display: block !important;
        page-break-before: avoid;
    }

    .load-more-wrapp {
        .less-info,
        .text-right,
        .show-more,
        .show-more-btn {
            display: none !important;
        }

        .more-info {
            display: block !important;
        }
    }
    .accordion-item > .accordion-title {
        &:after {
            display: none !important;
        }

        i {
            display: none !important;
        }
    }

    .expand-all-button {
        display: none;
    }

    .footer-bottom {
        display: none;
    }

    .social {
        display: none;
    }

    footer {
        position: relative;

        .social,
        .btn {
            &:not(.btn-more) {
                display: none !important;
            }
        }

        .row {
            display: flex !important;

            .col-12 {
                -ms-flex: 0 0 44%;
                flex: 0 0 44%;
                max-width: 44%;
            }
        }

        .contact {
            padding-left: 0 !important;

            .img {
                display: none !important;
            }
        }
    }
    .timepicker-input,
    .datepicker-input {
        padding-left: 0 !important;

        &:before,
        &:after {
            display: none !important;
        }
    }

    #tour-selection-btn {
        display: none;
    }

    .left-sidebar {
        display: none !important;
    }

    .banner-tab-map {
        position: relative;
        padding-top: 40% !important;
    }

    .banner-tabs {
        .video {
            padding-top: 40% !important;
        }
    }

    .thumb-price {
        & > .text {
            margin-bottom: 0 !important;
        }
    }
    .right-sidebar {
        .thumb-price {
            margin: 0 !important;
        }

        .hidden-print {
            display: none !important;
        }
    }

    .accordion-inner {
        .swiper-entry {
            display: none !important;
        }
    }
    main {
        & > .container {
            & > .row {
                display: block !important;

                & > .col-12 {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .accordion.type-1 > .accordion-item > .accordion-inner,
    .accordion.type-4 > .accordion-item > .accordion-inner,
    .accordion.type-5 > .accordion-item > .accordion-inner {
        padding: 0 !important;
    }

    .schedule-row {
        .btn {
            display: none !important;
        }
    }

    .tour-content {
        .accordion-all-expand {
            page-break-before: always;
        }
    }

    .title-icon {
        img {
            display: none !important;
        }
    }

    .bingc-phone-button {display:none!important;}
    .fb_dialog {display:none!important;}
    .no-print {display:none!important;}
    .no-print * {display:none!important;}
    .no-print .thumbs-carousel  {display:none!important;}
    .section.only.no-print {display:none!important;}
    .section.only-desktop.no-print {display:none!important;}
    .right-sidebar .sidebar-item .bottom-part > img.manager-avatar {display:none!important;}
    header {position:relative!important;}
    main {        margin-top: 0px;    }
    .tab-nav {display:none!important;}
    .accordion-inner .text {margin:0 0 13px 0;    }
    .accordion.type-5 > .accordion-item > .accordion-title {padding:13px 0!important;}
    .tour-content .btn {display:none!important;}
    .right-sidebar-inner .btn {display:none!important;}
    .partners-slider {display:none!important;}
    .sidebar-recommendations .review.hidden {height:auto!important;overflow:visible!important;opacity:1!important;}
    .sidebar-recommendations .sidebar-more-text .text {height:auto!important;}
    .sidebar-recommendations .sidebar-more-text .show-more-btn {display:none!important;}

    .sidebar-recommendations .review {margin-bottom:30px!important;}
    .tour-content .accordion-all-expand {page-break-before: auto;}
    .right-sidebar-inner {display:flex; flex-direction:column;}
    .right-sidebar .sidebar-item.notice {order:12;}
    .right-sidebar .sidebar-item.testimonials {margin:0 0 60px 0;}
    .banner-carousel {display:none!important;}
    #transport-form {display:none!important;}
    .yes-print {display:block!important;}
    .tour-content.trnsprt .thumb-wrap .img-caption {height:auto!important;border:0!important;}
    .tour-content.trnsprt .thumb-wrap .img-caption img {display:none;}
    .accordion-inner .calendar-header-center {display:none!important;}

    .no-logo header {display:none!important;}
    #tour-voting-form {display:none!important;}
    .schedule-row .discount {display:none;}
    .accordion-item .schedule .schedule-row {display:none;}
    .accordion-item .schedule .schedule-row:nth-child(1) {display:block;}
    .accordion-item .schedule .schedule-row:nth-child(2) {display:flex;}
    .accordion-item .schedule .schedule-row:nth-child(3) {display:flex;}
    .accordion-item .schedule .schedule-row:nth-child(4) {display:flex;}
    .accordion-item .schedule .schedule-row:nth-child(5) {display:flex;}
    .accordion-item .schedule .schedule-row:nth-child(6) {display:flex;}
    .accordion-item .schedule .schedule-row:nth-child(7) {display:flex;}
    .accordion-item .schedule .schedule-row:nth-child(8) {display:flex;}
    .accordion-item .schedule .schedule-row:nth-child(9) {display:flex;}
    .accordion-item .schedule .schedule-row:nth-child(10) {display:flex;}
    .accordion-item .schedule .schedule-row:nth-child(11) {display:flex;}
    .right-sidebar .single-datepicker {display:none!important;}
    .right-sidebar .thumb-info > span.thumb-info-people {display:none!important;}
    .right-sidebar .thumb-info > span.thumb-info-time {        padding-right: 0px;        border-right: 0px solid #E9E9E9;width:100%;    margin:0 0 0 -25px;}
    .right-sidebar .thumb-info .thumb-info > span.thumb-info-time:before {content:""!important;display:none!important;margin:0!important;}
    .only-pad-mobile .btn {display:none!important;}
    .bingc-active {display:none!important;}
    .agent-print footer {display:none!important;}
    .agent-print header {display:none!important;}
    .agent-print .right-sidebar .sidebar-item.notice {display:none!important;}
    header .container {display:flex;align-items: center;}
    header {padding:15px 0;border-bottom:1px solid #000;height:auto;}
    header #logo {margin:0 60px 0 0!important;width:209px!important;}
    header #logo { top:0!important; left: 15px; position: relative!important; transform: translateY(0)!important; -webkit-transform: translateY(0)!important; -moz-transform: translateY(0)!important; -ms-transform: translateY(0)!important; -o-transform: translateY(0)!important; }
    header .container {padding:0;}
    header .print-header .h-name {font-weight:bold;}

    .single-tour .right-sidebar .sidebar-item.notice {display:none;}

    .only-print.footer-manger {display:none!important;}
    .single-tour .only-print.footer-manger {display:block!important;}
    .single-tour footer .row .col-12 {  -ms-flex: 0 0 33%!important;            flex: 0 0 33%!important;            max-width: 33%!important;    }










}
